.mask {
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
}
.mask img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
/* ********** head start ********** */
#head {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#head .tab {
  text-align: center;
  background-color: #2F2D30;
}

#head ul {
  display: inline-block;
}

#head li {
  float: left;
  padding: 10px;
  background-color: #2F2D30;
}

#head a {
  position: relative;
  display: block;
  margin: 0 5px;
  padding: 5px 0;
  text-align: center;
  color: #b5b5b5;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: color .5s;
  transition: color .5s;
}

#head a:hover,
#head a:focus {
  color: #929292;
}

#head a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  background: #d94f5c;
  -webkit-transition: width .5s;
  transition: width .5s;
}

#head li.now a {
  color: #d94f5c;
}

#head li.now a::before {
  width: 100%;
}

/* ********** head end ********** */

/* ********** content start ********** */
#content {
  background-color: #fff;
  margin-top: 58px;
  box-sizing: border-box;
  overflow: hidden;
}

#content .contentBox {
  display: none;
}

/* ***** banner start ***** */
#content .banner {
  display: block;
}

#content .bannerBox {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background-color: #000;
  position: relative;
}

#content .bannerBox ul {
  position: relative;
  left: 0;
}

#content .bannerBox ul li {
  height: 100%;
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  color: #fff;
}

#content .bannerBox ul li div {
  width: calc(100% - 200px);
  margin: 10px auto;
}

#content .bannerBox ul li span {
  padding: 5px;
  background-color: rgba(0, 0, 0, .3);
  margin: 5px;
  display: inline-block;
}

#content .bannerBox>span {
  position: absolute;
  top: 0;
  width: 100px;
  box-shadow: 0 0 40px transparent inset;
  text-align: center;
  -webkit-transition: box-shadow 1s;
  transition: box-shadow 1s;
}

#content .bannerBox .prev {
  left: 0;
}

#content .bannerBox .next {
  right: 0;
}

#content .bannerBox span i {
  color: transparent;
  -webkit-transition: color 1s;
  transition: color 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content .bannerBox:hover>span,
#content .bannerBox:focus>span {
  box-shadow: 0 0 40px #fff inset;
}

#content .bannerBox:hover>span i,
#content .bannerBox:focus>span i {
  color: #fff;
}

/* ***** banner end ***** */
/* ***** basic start ***** */



/* ***** basic end ***** */
/* ***** experience start ***** */
#content .experience {
  overflow: auto;
  background: url("../img/pagebgexp.jpg") no-repeat center center fixed;
  background-size: cover;
}

#content .experienceBox {
  overflow: auto;
  position: relative;
}

#content .boxcontain {
  margin-top: 20px;
}

#content .experienceBox .block {
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  border: 1px dotted #FFA730;
  background-color: rgba(0, 0, 0, .3);
  margin-bottom: 10px;
  position: relative;
}

#content .experienceBox .block:before {
  content: '';
  position: absolute;
  left: -60px;
  top: 35px;
  width: 60px;
  height: 2px;
  background: #FFA730;
}



#content .experienceBox .block i {
  position: absolute;
  left: -80px;
  top: 26px;
  background: transparent;
  z-index: 2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFA730;
}

#content .experienceBox .block .title .time {
  color: #fbe0a4;
  font-weight: bold;
  margin-right: 10px;
  font-size: 20px;

}

#content .experienceBox .block .title .company {
  color: #fbe0a4;
  font-weight: bold;
  font-size: 20px;

}

#content .experienceBox .block .sinblock {
  padding: 10px;
  border-top: 1px dotted #FFA730;
}

#content .experienceBox .block .sinblock .time {
  color: #fdf7c5;
  line-height: 50px;
  font-weight: bold;
}

#content .experienceBox .block .sinblock .objectName {
  color: #fdf7c5;
  margin-left: 10px;
  line-height: 50px;
  font-weight: bold;
}

#content .experienceBox .block .sinblock .text {
  color: #fff;
  margin-right: 10px;
}

#content .experienceBox .block .sinblock>div {
  color: #b5b5b5;
  line-height: 28px;
}

#content .experienceBox .line {
  width: 4px;
  /* background: #000; */
  position: absolute;
  top: 30px;
  left: 30px;
  float: left;
  height: 2700px;
  background: #FFA730;
  border-radius: 2px;
}

/* ***** experience end ***** */
/* ***** interest start ***** */
#content .interest {
  overflow: auto;
  background: url("../img/pagebginte.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* 整体样式 start */
#content .interestBox li {
  padding: 10px;
  margin: 10px;
  /* width: 100%; */
}

#content .interestBox li div {
  float: left;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  margin: 20px;
  line-height: 100px;
  text-align: center;
  width: 100px;
  height: 100px;
  position: relative;
}

#content .interestBox li div:after,#content .interestBox li div:before {
  content: "";
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  box-sizing: border-box;
  margin-top: -70px;
}

/* 整体样式 end */

/* 第一行 光圈放大 start */
#content .interestBox li:nth-child(1) {
  background: #41AB6B;
}

#content .interestBox li:nth-child(1) div {
  color: #fff;
  transition: color 1s;
  -webkit-transition: color 1s;
  border: 10px solid #41AB6B;
  background: #54B47A;
  transition: background 1s;
  -webkit-transition: background 1s;
}

#content .interestBox li:nth-child(1) div:after {
  transform: scale(0.8);
  border: 0px solid transparent;
  transition: border 1s;
  -webkit-transition: border 1s;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

#content .interestBox li:nth-child(1) div:hover {
  color: #41AB6B;
  background: #fff;
}

#content .interestBox li:nth-child(1) div:hover:after {
  border: 5px solid #fff;
  transform: scale(1);
}

/* 第一行 光圈放大 end */

/* 第二行  反色光圈放大 start */
#content .interestBox li:nth-child(2) {
  background: #EEA303;
}

#content .interestBox li:nth-child(2) div {
  color: #fff;
  background: #EEA303;
  border: 10px solid #fff;
  transition: color 1s,background 1s;
  -webkit-transition: color 1s,background 1s;
}

#content .interestBox li:nth-child(2) div:after {
  border: 1px solid rgba(255, 255, 255, 0.8);
  transform: scale(1);
  transition: border 1s,transform 1s;
  -webkit-transition: border 1s,transform 1s;
}

 #content .interestBox li:nth-child(2) div:hover {
  color: #EEA303;
  background: #fff;
} 
#content .interestBox li:nth-child(2) div:hover:after {
  border: 10px solid rgba(255, 255, 255, 0.1);
  transform: scale(1.5);
}

/* 第二行 反色光圈放大 end */
/* 第三行 旋转双色圈 start */

#content .interestBox li:nth-child(3) {
  background: #f06060;
}

#content .interestBox li:nth-child(3) div {
  color: #F06060;
  background: #fff;
  border: 10px solid #F06060;
  transform: rotate(0);
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

#content .interestBox li:nth-child(3) div:after {
  border: 2px solid rgb(247, 155, 155);
  transform: scale(0.5);
  transition: border 1s,transform 1s;
  -webkit-transition: border 1s,transform 1s;
}
#content .interestBox li:nth-child(3) div:before {
  border: 2px solid rgb(247, 155, 155);
  transform: scale(1.1);
  transition: border 1s,transform 1s;
  -webkit-transition: border 1s,transform 1s;
}
 #content .interestBox li:nth-child(3) div:hover {
  transform: rotate(360deg);
} 
#content .interestBox li:nth-child(3) div:hover:before {
  border: 10px solid rgb(247, 155, 155);
  transform: scale(0.5);
}
#content .interestBox li:nth-child(3) div:hover:after {
  border: 10px solid rgb(247, 155, 155);
  transform: scale(1.1);
}

/* 第三行 旋转双色圈 end */
/* 第四行 border样式 start */
#content .interestBox li:nth-child(4) {
  background: #0E83CD;
}

#content .interestBox li:nth-child(4) div {
  color: #0E83CD;
  background: #fff;
  border: 10px solid #0E83CD;
  transition: color 1s,background 1s;
  -webkit-transition: color 1s,background 1s;
}

#content .interestBox li:nth-child(4) div:after {
  border: 1px solid #fff;
  transform: scale(0.8);
  transition: border 1s;
  -webkit-transition: border 1s;
}
#content .interestBox li:nth-child(4) div:before {
  border: 1px solid #fff;
  transform: scale(1.1);
  transition: border 1s;
  -webkit-transition: border 1s;
}
 #content .interestBox li:nth-child(4) div:hover {
  color: #fff;
  background: #0E83CD;
} 
#content .interestBox li:nth-child(4) div:hover:after {
  border: 5px double #fff;
}
#content .interestBox li:nth-child(4) div:hover:before {
  border: 5px dotted #fff;
}
/* 第四行 border样式 end */
/* 第五行 start */
#content .interestBox li:nth-child(5) {
  background: #702FA8;
}

#content .interestBox li:nth-child(5) div {
  color: #702FA8;
  transition: color 1s;
  -webkit-transition: color 1s;
  border: 10px solid #702FA8;
  background: #fff;
  transition: background 1s,color 1s;
  -webkit-transition: background 1s,color 1s;
}

#content .interestBox li:nth-child(5) div:after {
  transform: scale(1.2);
  border: 1px solid rgba(255, 255, 255, 0);
  transition: border 1s;
  -webkit-transition: border 1s;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

#content .interestBox li:nth-child(5) div:hover {
  color: #fff;
  background: #702FA8;
}

#content .interestBox li:nth-child(5) div:hover:after {
  border: 10px solid rgba(255, 255, 255, 0.9);
  transform: scale(0.8);
}

/* 第五行 end */
/* 第六行 start */
#content .interestBox li:nth-child(6) {
  background: #D54F30;
}

#content .interestBox li:nth-child(6) div {
  color: #fff;
  background: #D54F30;
  border: 3px solid #fff;
  transform: scale(1);
  transition: color 1s,background 1s,transform 1s;
  -webkit-transition: color 1s,background 1s,transform 1s;
}

#content .interestBox li:nth-child(6) div:after {
  border: 1px solid rgba(255, 255, 255, 0.8);
  transform: scale(1);
  transition: border 1s,transform 1s;
  -webkit-transition: border 1s,transform 1s;
}

 #content .interestBox li:nth-child(6) div:hover {
  color: #D54F30;
  background: #fff;
  transform: scale(1.2);
} 
#content .interestBox li:nth-child(6) div:hover:after {
  border: 10px solid rgba(255, 255, 255, 0.1);
  transform: scale(0.8);
}

/* 第六行 end */
/* ***** interest end ***** */
/* ***** contact start ***** */
#content .contact {
  overflow: auto;
  background: url("../img/pagebgcont.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
}

#content .contactBox {
  width: 860px;
  margin: 20px auto;
}

#content .contactBox .cblock {

  width: 200px;
  height: 300px;
  /* background-color: #fff; */
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  float: left;
  margin-left: 10px;
}


#content .contactBox .cblock:first-child {
  margin-left: 0;
}


#content .contactBox .cblock .top {
  width: 200px;
  height: 230px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  /* line-height: 300px; */
}

#content .contactBox .top:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 70px;
  background-color: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  border-top: 1px dashed #333;
  background-color: #fff;
}

#content .contactBox .cblock .top span {
  font-size: 16px;
  font-weight: 900;
  background: linear-gradient(top, #0E1736 6%, #CEDEE3 100%);
  background: -o-linear-gradient(top, #0E1736 6%, #CEDEE3 100%);
  background: -ms-linear-gradient(top, #0E1736 6%, #CEDEE3 100%);
  background: -moz-linear-gradient(top, #0E1736 6%, #CEDEE3 100%);
  background: -webkit-linear-gradient(top, #0E1736 6%, #CEDEE3 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  z-index: 3;
}

#content .contactBox .cblock .top i {
  /* font-size: 30px; */
  font-weight: 900;
  background: linear-gradient(top, #0E1736 6%, #CEDEE3 100%);
  background: -o-linear-gradient(top, #0E1736 6%, #CEDEE3 100%);
  background: -ms-linear-gradient(top, #0E1736 6%, #CEDEE3 100%);
  background: -moz-linear-gradient(top, #0E1736 6%, #CEDEE3 100%);
  background: -webkit-linear-gradient(top, #0E1736 6%, #CEDEE3 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#content .contactBox .cblock .bottom {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 300px;
  left: 0;
  -webkit-transition: top .3s;
  transition: top .3s;
}

#content .contactBox .cblock:hover .bottom {
  top: 0;
}

#content .contactBox .cblock .bottom img {
  width: 200px;
  /* margin: 0 auto; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

/* ***** contact end ***** */
/* ***** end start ***** */
#content .end {
  overflow: auto;
  background: url("../img/pagebgend.jpg") no-repeat center center fixed;
  background-size: cover;
}

#content .endBox {
  width: 575px;
  margin: 50px auto;
}

#content .endBox a {
  padding: 10px;
  margin: 10px;
}

#content .endBox a:hover {
  color: #333;
}

/* ***** end end ***** */
/* ********** content end ********** */

/* ********** foot start ********** */
#foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100%);
  padding: 5px;
  background-color: #2F2D30;
  color: #ccc;
  text-align: right;
  box-sizing: border-box;
}

/* ********** foot end ********** */
:root {
  --innerRadius: 15px;
}

/* 脉冲动画 */
.lime {
  position: absolute;
  left: -75px;
  /* top: 50%;
  transform: translateY(-50%); */
  background: transparent;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--innerRadius));
  height: calc(var(--innerRadius));
  background-color: #FFA730;
  border-radius: 50%;
}

.lime::before,
.lime::after {
  content: '';
  position: absolute;
  width: calc(var(--innerRadius) * 2);
  height: calc(var(--innerRadius) * 2);
  border: 2px solid #FFA730;
  border-radius: 50%;
  animation: pulse 2s ease-out infinite;
}

.lime::after {
  animation-delay: 1s;
}

@keyframes pulse {
  from {
    transform: scale(1);
    filter: opacity(0.9);
  }

  to {
    transform: scale(2);
    filter: opacity(0);
  }
}